---
import Banner from '../components/Home/Banner.astro';
import Layout from '../layouts/BaseLayout.astro';
import CommunityCards from '../components/Home/CommunityCards.astro';
import HeroText from '../components/Home/HeroText.astro';
import ResearchGraphNavigation from '../components/Home/ResearchGraphNavigation.astro';
import DeveloperCards from '../components/Home/DeveloperCards.astro';
import RDMGraphNavigation from '../components/Home/RDMGraphNavigation.astro';
import MeterUp from '../components/MeterUp.astro';


---

<Layout title="Home" >
	<main>
    <HeroText />
    <Banner />
    <CommunityCards />
    <ResearchGraphNavigation />
    <DeveloperCards />
    <RDMGraphNavigation />
	</main>
</Layout>

<style>
	main {
		font-size: 20px;
		line-height: 1.6;
	}
</style>
