---
import Card from '../Card.astro'
---

<section class="w-full flex justify-center">
  <div class="p-3 md:px-20 md:py-10 w-full">

    <div class="divider h-[unset] whitespace-normal">
      <h2 class="text-3xl font-bold text-center tracking-wider p-5 uppercase">
        for the research community
      </h2>
    </div>
    <ul role="list" class="link-card-grid">
      <Card
        href="https://docs.astro.build/"
        title="Minimal Organization Principal"
        body="Get started to organize your research data using the ARC."
      />
      <Card
        href="https://astro.build/integrations/"
        title="Tools and Services"
        body="Find tools and services that assist you creating and managing your research data using ARC."
      />
      <Card
        href="https://astro.build/themes/"
        title="Support"
        body="Explore tutorials, videos or find community that can help."
      />
    </ul>
  </div>
</section>

<style>
  .link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
		gap: 2rem;
		padding: 0;
	}
</style>