---
import { URLS } from "../../statics";
import Card from '../Card.astro'
---

<section class="w-full flex justify-center">
  <div class="p-3 md:px-20 md:py-10 w-full">

    <div class="divider h-[unset] whitespace-normal">
      <h2 id="FOR-THE-RESEARCH-COMMUNITY" class="text-3xl font-bold tracking-wider p-5 uppercase">
        for the research community
      </h2>
    </div>
    <ul role="list" class="link-card-grid">
      <Card
        href= {URLS.INTERNAL_COM_DATA_MANAGEMENT}
        title="Data Management Principle"
        body="Get started to organize your research data using the ARC."
      />
      <Card
        href= {URLS.INTERNAL_TOOLS}
        title="Tools and Services"
        body="Find tools and services that assist you creating and managing your research data using the ARC."
      />
      <Card
        href="#"
        title="Resources"
        body="Explore tutorials, videos or find a community that can help."
      />
    </ul>
  </div>
</section>

<style>
  .link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
		gap: 2rem;
		padding: 0;
	}
</style>