---
import { URLS } from "../../statics";
import Card from '../Card.astro'
---

<section class="w-full flex justify-center">
  <div class="p-3 md:px-20 md:py-10 w-full max-sm:p-3">

    <div class="divider h-[unset] whitespace-normal">
      <h2 class="text-3xl font-bold tracking-wider p-5 uppercase">
        for the RDM community
      </h2>
    </div>
    <ul role="list" class="link-card-grid">
      <Card
        href= {URLS.INTERNAL_DEV_DATA_MODEL}
        title="ARC data model"
        body="Learn how ARC data model is a FAIR Digital Object implementation"
      />
      <Card
        href= {URLS.INTERNAL_DEV_REPRESENTATION}
        title="ARC representation"
        body="Understand how the ARC is both a data scaffold and a JSON manifest"
      />
      <Card
        href="#"
        title="ARC (meta)data framework"
        body="Supercharge your RDM with an extensive framework and libraries."
      />
    </ul>
  </div>
</section>


<style>
  .link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>