---
import Card from '../Card.astro'
---

<section class="w-full flex justify-center">
  <div class="md:px-20 md:py-10 w-full max-sm:p-3">

    <div class="divider h-[unset] whitespace-normal">
      <h2 class="text-3xl font-bold tracking-wider p-5 uppercase">
        for the RDM community
      </h2>
    </div>
    <ul role="list" class="link-card-grid">
      <Card
        href="https://docs.astro.build/"
        title="ARC model"
        body="Learn how Astro works and explore the official API docs."
      />
      <Card
        href="https://astro.build/integrations/"
        title="ARC representation"
        body="Supercharge your project with new frameworks and libraries."
      />
      <Card
        href="https://astro.build/themes/"
        title="ARC (meta)data framework"
        body="Explore a galaxy of community-built starter themes."
      />
    </ul>
  </div>
</section>


<style>
  .link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>