---
const mainHeroText = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.";
---

<div class="hero min-h-[50%]">
  <div class="hero-content md:px-20 md:py-10 lg:max-w-4xl">
    <div class="">
      <h1 class="text-5xl font-bold">
        <span class="text-accent">A</span>nnotated <span class="text-accent">R</span>esearch <span class="text-accent">C</span>ontext 
      </h1>
      <p class="py-6 prose-lg">
        {mainHeroText}
      </p>
    </div>
  </div>
</div>