---
const mainHeroText = "The ARC is a framework for organizing and documenting research data, as well as a container that continuously supports collaboration, data exchange, and adherence to FAIR principles among various researchers. The ARC can be checked for completeness and quality at any time and converted into a citable data publication without interrupting the research or documentation process. It is built on widely accepted research data standards such as RO-Crate, ISA, and abstract CWL.";
---

<div class="hero min-h-[50%]">
  <div class="hero-content md:px-20 md:py-10 lg:max-w-4xl">
    <div class="">
      <h1 class="text-5xl font-bold">
        <div>
          <span class="text-accent">A</span>nnotated 
        </div>
        <div>
          <span class="text-accent">R</span>esearch 
        </div>
        <div>
          <span class="text-accent">C</span>ontext 
        </div>
      </h1>
      <p class="py-6 prose-lg" style="text-align:justify">
        {mainHeroText}
      </p>
    </div>
  </div>
</div>