---
import { URLS } from "../statics";
---

<footer class="footer bg-neutral text-neutral-content border-t-2 p-10 dark:border-t-primary">
  <nav>
    <h6 class="footer-title">Resources</h6>
    <a class="link link-hover" href={URLS.GITHUB_REPO}>GitHub</a>
    <a class="link link-hover" href={URLS.DATAPLANT_WEBSITE}>DataPLANT</a>
    <!-- <a class="link link-hover">Partners</a> -->
    <!-- <a class="link link-hover">Advertisement</a> -->
  </nav>
  <!-- <nav>
    <h6 class="footer-title">Company</h6>
    <a class="link link-hover">About us</a>
    <a class="link link-hover">Contact</a>
    <a class="link link-hover">Jobs</a>
    <a class="link link-hover">Press kit</a>
  </nav>
  <nav>
    <h6 class="footer-title">Legal</h6>
    <a class="link link-hover">Terms of use</a>
    <a class="link link-hover">Privacy policy</a>
    <a class="link link-hover">Cookie policy</a>
  </nav> -->
</footer>