---
import ThemeController from "./ThemeController.astro"
import RecMenu from "./RecMenu.astro"
import { type Link } from "./RecMenu.astro"
import { URLS } from "../statics"
import Search from "./Search.astro"


const links: Link[] = [
  {href: URLS.INTERNAL_HOME, text: "Home"},
  {text: "Research Community", children: [
    {href: URLS.INTERNAL_COM_DATA_MANAGEMENT, text: "Data Management Principle"},
    {href: URLS.INTERNAL_COM_TOOLS, text: "Tools and Services"},
    {href: URLS.INTERNAL_COM_RESOURCES, text: "Resources"},
    {text: "More", children: [
      {href: URLS.INTERNAL_COM_DOCUMENTATION, text: "Documentation Principle"},
      {href: URLS.INTERNAL_COM_ORGANIZATION, text: "Organization Principle"},
      {href: "#", text: "quality control 🚧"},
      {href: URLS.INTERNAL_COM_PUBLICATION, text: "Publication & Exchange"},
      {href: URLS.INTERNAL_COM_FAIRNESS, text: "RDM & FAIRness"},
    ]},
  ]},
  {text: "RDM Community", children: [
    {href: URLS.INTERNAL_DEV_DATA_MODEL, text: "ARC Data Model"},
    {href: URLS.INTERNAL_DEV_REPRESENTATION, text: "ARC Representation"},
    {href: "#", text: "ARC (meta)data framework 🚧"},
    {text: "More", children: [
      {href: URLS.INTERNAL_DEV_FDO, text: "FAIR Digital Object"},
      {href: URLS.INTERNAL_DEV_VALIDATION, text: "Validation"},
      {href: URLS.INTERNAL_DEV_ARC_DATA_HUB, text: "ARC Data Hub"},
      {href: URLS.INTERNAL_DEV_VERSIONING, text: "Versioning"},
      {href: URLS.INTERNAL_DEV_TOOLSTACK, text: "Developer Toolstack"},
    ]},
  ]},
  {href: URLS.INTERNAL_PARTNERS, text: "Partners"},
  {href: URLS.INTERNAL_DICTIONARY, text: "Dictionary"}
]

const linksMin: Link[] = [
  links[1],
  links[2],
]

const drawerIsOpen = Astro.props.drawerIsOpen
const isHome = Astro.url.pathname === URLS.INTERNAL_HOME

---


<div id="my-drawer" class:list={["drawer", {"lg:drawer-open": drawerIsOpen}]}>
  <input id="my-drawer-input" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <!-- Navbar -->
    <div class="navbar shadow-md dark:shadow-primary text-primary mb-1">
      <div class="navbar-start">
        <div class="flex-none" class:list={[{"lg:hidden": drawerIsOpen}]}>
          <label id="my-drawer-input-label" for="my-drawer-input" aria-label="open sidebar" class="btn btn-square btn-ghost">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="inline-block h-6 w-6 stroke-current">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </label>
        </div>
        <a class="btn btn-ghost text-xl" href={URLS.INTERNAL_HOME} >
          <img src="/favicon.svg" alt="logo" class="h-8 w-8" />
        </a>
      </div>
      { isHome &&
        <div class:list={["navbar-center hidden lg:flex gap-2", {"lg:hidden": drawerIsOpen}]}>
          <a class="btn btn-ghost" href="#FOR-THE-RESEARCH-COMMUNITY">Research Community</a>
          <a class="btn btn-ghost" href="#FOR-THE-RDM-COMMUNITY">RDM Community</a>
        </div>
      }
      <div class="navbar-end gap-2">
        <Search />
        <a class="btn btn-ghost btn-circle" href={URLS.GITHUB_REPO}>
          <img
            id="github-logo"
            class="p-2"
            src="/github-mark.svg">
          </img>
        </a>
        <ThemeController />
      </div>
    </div>
    <!-- Page content here -->
    <slot>
  </div>
  <div class="drawer-side z-50 lg:z-0">
    <label for="my-drawer-input" aria-label="close sidebar" class="drawer-overlay"></label>
    <RecMenu className="menu bg-base-200 lg:bg-base-100 lg:border-r-2 min-h-full w-80 p-4 menu-sm" links={links} isOpen={true}/>
  </div>
</div>




<style>
  /* Light mode: Show light-mode.svg */
html[data-theme="light"] #github-logo {
  content: url('/github-mark.svg');
}

/* Dark mode: Show dark-mode.svg */
html[data-theme="dark"] #github-logo {
  content: url('/github-mark-white.svg');
}
</style>