---
import ThemeController from "./ThemeController.astro"
import RecMenu from "./RecMenu.astro"
import { type Link } from "./RecMenu.astro"
import { URLS } from "../statics"
import Search from "./Search.astro"


const links: Link[] = [
  {href: URLS.INTERNAL_HOME, text: "Home"},
  {text: "Research Community", children: [
    {href: URLS.INTERNAL_COM_DATA_MANAGEMENT, text: "Data Management Principle 🚧"},
    {href: "#", text: "Tools and Services 🚧"},
    {href: "#", text: "Resources 🚧"},
    {text: "More", children: [
      {href: URLS.INTERNAL_COM_DOCUMENTATION, text: "Documentation Principle"},
      {href: URLS.INTERNAL_COM_ORGANIZATION, text: "Organization Principle"},
      {href: "#", text: "quality control 🚧"},
      {href: "#", text: "exchange & publication 🚧"},
      {href: URLS.INTERNAL_COM_FAIRNESS, text: "RDM & FAIRness"},
    ]},
  ]},
  {text: "RDM Community", children: [
    {href: URLS.INTERNAL_DEV_DATA_MODEL, text: "ARC Data Model"},
    {href: URLS.INTERNAL_DEV_REPRESENTATION, text: "ARC Representation"},
    {href: "#", text: "ARC (meta)data framework 🚧"},
    {text: "More", children: [
      {href: URLS.INTERNAL_DEV_FDO, text: "FAIR Digital Object"},
      {href: URLS.INTERNAL_DEV_VALIDATION, text: "Validation"},
      {href: URLS.INTERNAL_DEV_ARC_DATA_HUB, text: "ARC Data Hub"},
      {href: "#", text: "versioning 🚧"},
      {href: URLS.INTERNAL_DEV_TOOLSTACK, text: "Developer Toolstack"},
    ]},
  ]},
  {href: URLS.INTERNAL_TOOLS, text: "Tools"},
  {href: URLS.INTERNAL_PARTNERS, text: "Partners"}
]
---


<div class="navbar shadow-md dark:shadow-primary text-primary mb-1 z-50">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <div class="dropdown-content bg-base-100 rounded-box z-[1] mt-3 shadow p-2 w-52">
        <RecMenu className="menu menu-sm" links={links} />
      </div>
    </div>
    <a class="btn btn-ghost text-xl" href={URLS.INTERNAL_HOME} >
      <img src="/arc-website/favicon.svg" alt="logo" class="h-8 w-8" />
    </a>
    <Search />
  </div>
  <div class="navbar-center hidden lg:flex">
    <RecMenu className="menu menu-horizontal px-1" links={links} />
  </div>
  <div class="navbar-end">
    <a class="btn btn-ghost btn-circle" href={URLS.GITHUB_REPO}>
      <img
        id="github-logo"
        class="p-2"
        src="/arc-website/github-mark.svg">
      </img>
    </a>
    <ThemeController />
  </div>
</div>

<style>
  /* Light mode: Show light-mode.svg */
html[data-theme="light"] #github-logo {
  content: url('/arc-website/github-mark.svg');
}

/* Dark mode: Show dark-mode.svg */
html[data-theme="black"] #github-logo {
  content: url('/arc-website/github-mark-white.svg');
}
</style>